<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:name=".Tel2WhatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_splash_logo"
        android:roundIcon="@drawable/ic_splash_logo"
        android:theme="@style/Theme.Tel2What"
        android:label="Tel2What">

        <service
            android:name=".service.StickerConversionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name=".provider.StickerContentProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>